.grid {
    display: grid;
    grid-template-columns: repeat(8, 100px); /* Define 3 columnas de 100px cada una */
    grid-gap: 0px
    
}
  
.cell {
    width: 100px;
    height: 100px;
    background-color: var(--gridColor);
    border: 1px solid var(--gridBorders);
  }